
.habito .accordion-header {
    flex-grow: 1;
    background-color: var(--bg-color) !important;
}

.habito .accordion-item:last-of-type .accordion-button.collapsed, .habito .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0 !important;
}

.header-btn .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 0;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background: var(--color-secundario);
    color: #fff;
    font-size: 20px;
}



.habito .accordion-button:not(.collapsed) {
    color: #fff;
}
.habito .accordion-item {
    margin-bottom: 10px !important;
    border: none !important;
    background: transparent !important;
}

.habito .accordion-button {
    display: block;
    color: #fff;
    text-align: center;
    background-color: var(--bg-color) !important;
}

.habito .accordion-button:not(.collapsed) {
    background-color: var(--bg-color) !important;
    box-shadow: none !important;
}

.habito .accordion-button:focus  {
    color: #fff !important;
    background-color: var(--bg-color) !important;
    box-shadow: none !important;
}

.habito .accordion-button::after {
    display: none !important;
}

.habito .accordion-body {
    background-color: var(--bg-color);
    color: #fff;
    padding-bottom: 0;
}

.habito .accordion-body .header-btn {
    margin: 0 -20px;
    margin-top: 16px;
    height: 51px;
}


.habitos-header .btn{
    background-color: var(--color-secundario);
    font-size: 14px;
    height: 35px;
}


@media screen and (max-width: 600px) {
    .habitos-header .btn-modal {
        display: none;
    }

    .habitos-header {
        justify-content: flex-end !important;
    }

}