
.perfil-estado {
    display: none;
}

.estado {
    background: var(--bg-color);
    height: 10px;
}

.estado .progress-bar {
    height: 10px;
    border-radius: 0 10px 10px 0;
}

.imagen-perfil img{
    height: 100%;
    object-fit: cover;
}

.perfil-estado small, .perfil-estado i{
    font-size: 12.5px !important;
}

@media screen and (max-width: 600px){ 
    .menuLateral .perfil-estado {
        display: block;
    }
}


@media screen and (max-width: 500px){ 
    .perfil-estado {
        display: block;
    }
 }