
.clasificatoria {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
}

.clasificatoria th, td {
    color: #fff;
    border: 1px solid rgba(255,255,255,0.1) !important;
    background-color: var(--bg-color);
}

.clasificatoria tr {
    background-color: var(--bg-color);
}

.icono-clas.fa-trophy {
    color: #FFDC64;
}

.icono-clas.fa-medal {
    color: rgb(42, 135, 212);
}

.icono-clas {
    font-size: 20px;
}

.clasi-img {
    width: 125px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    margin-bottom: 16px;
}