.item-body img{
    width: 50px;
    height: 50px;
}


.item-body {
    padding: 16px 8px;
}

.item-tienda .card{
    cursor: pointer;
    background-color: var(--bg-color);
}

.icon-coin {
    width: 20px;
    height: 20px;
}

.item-footer {
    color: #F6D187 !important;
    font-weight: bold;
}