.stage1 * {
    user-select: none;
}

.stage1 .fichas {
    display: flex;
    flex-wrap: wrap !important;
    padding: 10px;
    background-color: var(--bg-color);
    min-width: 100%;
}

.sortable  {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    min-height: 200px;   
    min-width: 100%;
    background-color: var(--bg-color);
}

.fichas .sortable {
    min-height: 100px !important;
    border: none;
}

