.stage2 * {
    user-select: none;
}

.fichas {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
}

.container-result {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: var(--bg-color);
}

.input {
    width: 30px;
    background: var(--bg-color) !important;
    color: #fff !important;
    border: none;
    margin:0 5px;
    text-align: center;
    padding: 1px;
    font-size: inherit;
    display: inline-block;
}

.input:focus {
    border: none;
    box-shadow: none;
    color: #fff !important;
}


.stage2 .activeInput {
    width: 25px !important;
    margin: 0;
    padding: 0;
    background-color: transparent !important;
}