:root {
    --color-btn: rgb(255, 255, 255);
    --bg-color-header-card: red;
}


.misiones {
    padding: 0 4px;
}


.misiones .card-body {
    max-width: 500px !important;
    overflow: auto !important;
    padding: 0;
}

.misiones .card-header {
    background: var(--color-secundario);
    color: #fff;
}

.misiones .card , .misiones .accordion-body {
    border: none;
    background: var(--bg-color) !important;
    color: #fff;
}

.misiones .accordion-item {
    background: transparent; 
}

.misiones .accordion-button {
    background: var(--bg-color) !important;
    color:  var(--color-btn);
}


.misiones .accordion-button:not(.collapsed) {
    color: var(--color-btn);
    background: var(--bg-color) !important;
}

.misiones .accordion-button:focus  {
    color: var(--color-btn) !important;
    background-color: var(--bg-color) !important;
    box-shadow: none !important;
}


.misiones  .accordion-button::after {
    display: none !important;
}

