:root {
    --color-btn: rgba(97, 97, 97);
    --bg-color-header-card: #4a4e52;
}


.misiones {
    padding: 0 4px;
}


.misiones .card-body {
    max-width: 500px !important;
    overflow: auto !important;
    padding: 0;
}

.misiones .card-header {
    background: var(--color-secundario);
    color: #fff;
}

.misiones .card {
    border: none;
}

.misiones .accordion-item {
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
}

.misiones .accordion-button {
    background: #fff !important;
    color:  var(--color-btn);
}


.misiones .accordion-button:not(.collapsed) {
    color: var(--color-btn);
    background: #fff !important;
}

.misiones .accordion-button:focus  {
    color: var(--color-btn) !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

.misiones .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.misiones  .accordion-button::after {
    display: none !important;
}

