:root {
    --color-primario:  #363A3F;
    --color-secundario: rgb(41, 126, 119);
    --bg-nav-gradient: rgb(82, 92, 180);
}


*, *::after, *::before {
    box-sizing: border-box;
}

button, input {
    box-shadow: none !important;
}

.button:focus, input:focus {
    box-shadow: none !important;
}