:root {
    --color-primario:  #363A3F;
    --color-secundario: #7E57C2;
    --bg-color: #4a4e52;
    --animate-duration: 1s;
}


*, *::after, *::before {
    box-sizing: border-box;
    overflow-x: hidden;
}

h5, h6, .lista {
    overflow-y: hidden;
}

button, input {
    box-shadow: none !important;
}

.button:focus, input:focus {
    box-shadow: none !important;
}